@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 

html {
    font-size: 115%;
    --title-width: 90ch;
    --p-width: 65ch;
    font-family: "Times New Roman", serif;
    --link: rgb(231, 85, 141);
}

article{
    margin:auto;
    line-height: 1.2;

}

.title{
    font-size: 4rem;
    margin: 0 0 30px 0;
    line-height: 1.1;
}

.subhead{
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height:1.35;
    font-weight:400;
    letter-spacing: 0.02rem;
}

.titleBox{
    margin: 100px auto 50px auto;
    max-width: var(--title-width);
}

cite{
    font-size: 0.9rem;
}

.content{
    line-height: 1.3;
    margin:auto;
    max-width: var(--p-width);
}

a:link {
    color: var(--link);
}
